Magic 271485
Revision Verdi3_J-2014.12-SP2

; Window Layout <x> <y> <width> <height> <signalwidth> <valuewidth>
viewPort 0 217 1910 525 226 65

; File list:
; openDirFile [-d delimiter] [-s time_offset] [-rf auto_bus_rule_file] path_name file_name
openDirFile -d / "" "/mnt/app1/ray/project/can1127/work0/bench_0.fsdb"

; file time scale:
; fileTimeScale ### s|ms|us|ns|ps

; signal spacing:
signalSpacing 5

; windowTimeUnit is used for zoom, cursor & marker
windowTimeUnit 1ns

; waveform viewport range
zoom 0.000000 58127805.102800 1n
cursor 8947842.080000
marker 8947842.080000

; user define markers
; userMarker time_pos marker_name color linestyle
; visible top row signal index
top 0
; marker line index
markerPos 10

; event list
; addEvent event_name event_expression
; curEvent event_name



COMPLEX_EVENT_BEGIN


COMPLEX_EVENT_END



; toolbar current search type
; curSTATUS search_type
curSTATUS ByChange


aliasmapname ictlr.cs_ft
nalias ft_idle		4'b0000		NULL
nalias ft_stby		4'b0001		NULL
nalias ft_dmmy		4'b0100		NULL
nalias ft_dmrw		4'b0101		NULL
nalias ft_sfak		4'b1010		NULL
nalias ft_rclk		4'b0010		NULL
nalias ft_psw0		4'b1000		NULL
nalias ft_pwdn		4'b1001		NULL
nalias ft_rwai		4'b0011		NULL
nalias ft_dmck		4'b0110		NULL
nalias ft_pswp		4'b1100		NULL
nalias ft_psw1		4'b1101		NULL

addGroup "mcu"
activeDirFile "" "/mnt/app1/ray/project/can1127/work0/bench_0.fsdb"
addSignal -h 15 -UNSIGNED -HEX /bench/U0_DUT/U0_CORE/u0_mcu/pc_o[15:0]
addSignal -h 15 -UNSIGNED -HEX -holdScope instr[7:0]
addSignal -h 15 -holdScope irq
addSignal -h 15 -holdScope retiinstr
addSignal -h 15 -holdScope t0_tr0
addSignal -h 15 -holdScope ro
addSignal -h 15 /bench/U0_DUT/U0_CORE/i_clk
addSignal -h 15 -holdScope i_rstz
addSignal -h 15 /bench/U0_DUT/U0_ANALOG_TOP/RSTB_5
addGroup "otp" -e FALSE
addSignal -h 15 -UNSIGNED -HEX /bench/U0_DUT/PMEM_Q1[7:0]
addSignal -h 15 -UNSIGNED -HEX /bench/U0_DUT/U0_CORE/u0_ictlr/wr_buf[7:0]
aliasname ictlr.cs_ft
addSignal -h 15 -UNSIGNED -HEX -holdScope cs_ft[3:0]
addSignal -h 15 -holdScope r_pswr
addSignal -h 15 -UNSIGNED -HEX /bench/U0_DUT/PMEM_A[15:0]
addSignal -h 15 -holdScope PMEM_CLK[1]
addSignal -h 15 -holdScope PMEM_CLK[0]
addSignal -h 15 -holdScope PMEM_PGM
addSignal -h 15 -holdScope PMEM_RE
addSignal -h 15 -UNSIGNED -HEX -holdScope PMEM_Q0[7:0]
addSignal -h 15 -holdScope PMEM_CSB
addGroup "G3"

; getSignalForm Scope Hierarchy Status
; active file of getSignalForm
activeDirFile "" "/mnt/app1/ray/project/can1127/work0/bench_0.fsdb"

GETSIGNALFORM_SCOPE_HIERARCHY_BEGIN
getSignalForm close

"/$unit_0x7b87bc0f"
"/bench"
"/bench/U0_DUT"

SCOPE_LIST_BEGIN
"/$unit_0x7b87bc0f"
"/$unit_0x2522b8c2"
"/bench"
"/bench/U0_DUT"
"/bench/U0_DUT/U0_CORE"
SCOPE_LIST_END

GETSIGNALFORM_SCOPE_HIERARCHY_END


